//Colors

//Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

//Neutral
$white:rgb(255, 255, 255);
$grayish-blue:hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

//Font
$rubik: 'Rubik', sans-serif;;

//Font-weigh
$regular: 400;
$bold: 500;

//Maps
$breakpoints: (
  xs   :  25em, // 400px
  ms   :  34em, // 544px
  md   :  48em, // 768px
  lg   :  60em, // 960px
  xl   :  80em, // 1280px
  xxl  :  90em  // 1440px
);

$h1-font-sizes: (
  null :  1.8rem,
  xs   :  1.8rem,
  ms   :  2rem,
  md   :  2.5rem,
  lg   :  2.8rem,
  xl   :  2.8rem,
  xxl  :  3rem
);

$p-font-sizes: (
  null :  1rem,
  xs   :  1rem,
  ms   :  1rem,
  md   :  1.1rem,
  lg   :  1.1rem,
  xl   :  1.2rem,
  xxl  :  1.2rem
);

$input-font-sizes: (
  null :  0.8rem,
  xs   :  0.8rem,
  ms   :  0.8rem,
  md   :  0.75rem,
  lg   :  0.75rem,
  xl   :  0.80rem,
  xxl  :  0.80rem
);

$nav-font-sizes: (
  null :  1rem,
  xs   :  1rem,
  ms   :  1rem,
  md   :  0.8rem,
  lg   :  0.8rem,
  xl   :  0.8rem,
  xxl  :  0.8rem
);

$small-font-sizes: (
  null :  0.75rem,
  xs   :  0.75rem,
  ms   :  0.75rem,
  md   :  0.65rem,
  lg   :  0.65rem,
  xl   :  0.8rem,
  xxl  :  0.8rem
);