@use '../abstracts/all' as *;

html{
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  min-height: 100vh;
}

::selection {
  background-color: $soft-blue;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}
