@use '../abstracts/all' as *;

* {
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

::selection {
  background-color: $soft-blue;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
