@use '../abstracts/all' as *;

.primary-title-subtitle {
  text-align: center;
  width: 100%;
  @include flexbox(col, null, center);

  > p {
    margin-top: min(3vw, 23px);
    max-width: 570px;
  }
}

%grid-center {
  display: grid;
  place-items: center;
}
