@use '../abstracts/all' as *;

%primary-paragraph {
  @include font-size($p-font-sizes);
  line-height: 1.5;
}

%primary-title-subtitle {
  text-align: center;
  width: 100%;
  @include flexbox(col, null, center);

  > p {
    margin-top: min(3vw, 20px);
    max-width: 570px;
    @extend %primary-paragraph;
  }
}

%grid-center {
  display: grid;
  place-items: center;
}