body{
    font-size: 16px;
    font-family: $rubik;
    font-weight: $regular;
}

a{
    color: $very-dark-blue;

}



//HEADER

.header{
    background-color: $white;
}

.navbar__link{
    text-transform: uppercase;
    @include font-size($nav-font-sizes);

    &:hover,
    &:focus{
       color: $soft-red;
    }
}   