@use '../abstracts/all' as *;

body {
  font-size: 16px;
  font-family: $rubik;
  font-weight: $regular;
  line-height: 1.6;
}

p {
  @include font-size($p-font-sizes);
}

h1,
h2,
h3 {
  font-weight: $bold;
  line-height: 1.1;
}

h2 {
  @include font-size($h2-font-sizes);
}

/*Header*/

.header {
  background-color: $white;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 4%);
}

.logo {
  &__text.active {
    fill: #fff;
  }

  &__circle.active {
    fill: #fff;
  }

  &__save.active {
    fill: #242a45;
  }
}

.burger > svg {
  $defaultMenuColor: #242A45;
  color: $defaultMenuColor;
}

.burger.active > svg {
  color: $white;
}

.navbar__link {
  text-transform: uppercase;
  @include font-size($nav-font-sizes);

  &:hover,
  &:focus {
    color: $soft-red;
  }
}

.menu {
  background-color: $very-dark-blue;

  &__item::before {
    background-color: $white;
  }

  &__link {
    color: $white;
  }
}

/*Header end*/

/*Features*/

.features {
  &__container {
    text-align: center;
  }
}

.tab {
  text-align: center;
  .section {
    @include font-size($tab-font-sizes);
    &__item {
      color: $grayish-blue;
      &.active {
        color: $very-dark-blue;
        transition: all 0.4s ease-in-out;

        &::before {
          background-color: $soft-red;
        }
      }
      @include query(md) {
        border-bottom: 1px solid $grayish-blue;
      }
    }

    &__item:nth-child(1) {
      border-top: 1px solid $grayish-blue;
      border-bottom: 1px solid $grayish-blue;
      @include query(md) {
        border-top: none;
      }
    }
    &__item:nth-child(2) {
      border-bottom: 1px solid $grayish-blue;
    }
    &__item:nth-child(3) {
      border-bottom: 1px solid $grayish-blue;
    }
  }
}

/*Features end*/
