@use '../abstracts/all' as *;
@use '../base/helpers' as *;

.extensions {
  grid-area: ext;
}

.extensions__card-wrapper {
  $card-top-margin: 40px;

  @include flexbox(null, space-evenly, flex-start, 35px);
  flex-wrap: wrap;
  margin: 50px 0 100px 0;
  padding-top: 6px;
  width: 100%;
  max-width: 1000px; // for big screens

  @include query(lg) {
    width: 93%;

    > :nth-child(3n + 2) { // 2, 5, 8, ...
      margin-top: $card-top-margin;
    }
    
    > :nth-child(3n + 3) { // 3, 6, 9, ...
      margin-top: $card-top-margin * 2;
    }
  }

  // special case
  @media screen and (min-width: 960px) and (max-width: 1195px) {
    > :nth-child(3n + 2),
    > :nth-child(3n + 3) { margin-top: 0 }
  }
}

.ext-card {
  @include flexbox(col, null, center);
  width: 100%;
  max-width: 280px;
  border-radius: 13px;
  padding-top: 50px;
  box-shadow: 0 12px 12px 1px rgba($grayish-blue, .27);
  overflow: hidden;

  &__icon {
    background-repeat: no-repeat;
  }

  &__title {
    margin-top: 30px;
  }

  &__subtitle {
    margin: 10px 0 30px 0;
  }

  &__btn-wrapper {
    @include flexbox(null, center, center);
    height: 90px;
    width: 100%;

    .ext-btn {
      width: 100%;
      padding: 6px 23px 0px 23px;
    }
  }
}