@use '../abstracts/all' as *;

.layout {
  position: relative;
  width: 100%;
  display: grid;
  column-gap: 0.2rem;
  row-gap: 5rem;
  grid-template-columns: 5% 1fr 5%;
  margin: auto;
  grid-template-areas:
    " header  header  header "
    " hero    hero    hero   "
    ".       features    .   "
    ".        ext        .   "
    ".        faq        .   "
    "email   email    email  "
    " footer  footer  footer ";
  height: auto;

  @include query(xl) {
    grid-template-columns: 10% 1fr 10%;
  }

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .features {
    grid-area: features;
  }

  .extensions{
    grid-area: ext;
  }
  .faq{
    grid-area: faq;
  }
}
