@use '../abstracts/all' as *;

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  &__logo {
    justify-self: start;
    display: grid;
    place-items: center;
    z-index: 4;
    &.active {
      color: $white;
    }
  }

  &__list {
    display: none;
    @include query(md) {
      justify-self: end;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      place-items: center;
      column-gap: 1.5rem;
    }
  }

  .menu-burger {
    z-index: 4;
    display: grid;
    place-items: center;
    justify-self: end;
    cursor: pointer;
    @include query(md) {
      display: none;
    }

    &__line .active {
      fill: $white;
    }
  }

  .menu {
    clip-path: circle(10.2% at 100% 0);
    transition: all 0.3s ease-in-out;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 5.5rem 1.3fr 1.5fr 0.2fr 3rem;
    grid-template-areas:
      ".    .     ."
      ".   list   ."
      ".    .     ."
      ".   social ."
      ".    .     .";

    &.active {
      position: fixed;
      display: grid;
      z-index: 3;
      opacity: 0.95;
      width: 100vw;
      height: 100vh;
      background-color: $very-dark-blue;
      clip-path: circle(185% at 100% 0);
      transition: all 0.3s ease-in-out;
      @include query(md) {
        display: none;
      }
    }
    &__social {
      grid-area: social;
      display: none;
      place-items: center;

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: ". facebook twitter .";
      gap: 1rem;
      &.active {
        display: grid;
      }
    }

    &__facebook {
      grid-area: facebook;
    }
    &__twitter {
      grid-area: twitter;
    }

    &__list {
      text-transform: uppercase;
      grid-area: list;
      display: none;
      row-gap: 1rem;
      opacity: 1;

      &.active {
        display: grid;
      }
    }

    &__item {
      display: grid;
      place-items: center;
      &::before {
        content: "";
        margin-bottom: 16px;
        background-color: $white;
        opacity: 0.1;
        width: 100%;
        height: 1px;
      }
    }

    &__link {
      color: $white;
    }
  }
}
