@use '../abstracts/all' as *;

.navbar {
  width: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__logo {
    z-index: 4;
    justify-self: start;
    &.active{
      
    }
  }

  .burger {
    z-index: 4;
    justify-self: end;
    transition: all 0.4s ease-in-out;

    @include query(md) {
      display: none;
    }
    &__line.active {
      fill: $white;
      transition: all 0.4s ease-in-out;
    }
  }
  &__list {
    display: none;
    @include query(md) {
      justify-self: end;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      column-gap: 1.5rem;
    }
  }

  .menu {
    background-color: $very-dark-blue;
    position: fixed;
    top: 0;
    right: 0;
    clip-path: circle(0% at 100% 0);
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 5.5rem 1.3fr 1.5fr 0.2fr 3rem;
    grid-template-areas:
      ".    .     ."
      ".   list   ."
      ".    .     ."
      ".   social ."
      ".    .     .";
    &.active {
      z-index: 3;
      opacity: 0.95;
      width: 100%;
      height: 100vh;
      clip-path: circle(141.2% at 100% 0);
      transition: all 0.4s ease-in-out;
    }

    &__list {
      grid-area: list;
      display: grid;
      gap: 1rem;
    }
    &__social {
      grid-area: social;
      display: none;
      place-items: center;

      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: ". facebook twitter .";
      gap: 1rem;
      &.active {
        display: grid;
        place-items: center;
      }
    }

    &__facebook {
      grid-area: facebook;
    }
    &__twitter {
      grid-area: twitter;
    }

    &__item {
      display: grid;
      place-items: center;
      &::before {
        content: "";
        margin-bottom: 16px;
        background-color: $white;
        opacity: 0.1;
        width: 100%;
        height: 1px;
      }
    }

    &__link {
      color: $white;
    }
  }
}