@use '../abstracts/all' as *;

.footer {
  grid-area: footer;
  background-color: $very-dark-blue;
  color: white;
}

.footer__aside {
  @include flexbox(null, center);
}

.footer__aside__container {
  width: 100%;
  max-width: 1150px;
  padding: 45px 5vw 33px;
  @include flexbox(col, space-between, center);
  
  @include query(md) {
    padding: 30px 5vw 24px;
    @include flexbox(row, space-between, center);
  }
}

.footer__aside__logo {
  height: 26px;
  flex: 1 1 20%;
  
  @include query(md) {    
    margin-right: 6vw;
  }
}

.footer__nav {
  text-transform: uppercase;
  justify-self: flex-start;
  flex: 1 1 60%;
  text-align: center;
  
  &__ul {
    margin: 20px 0 30px 0;
    letter-spacing: 2px;
    @include flexbox(col, null, null, 30px);
    @include font-size($nav-font-sizes);
    
    @include query(md) {
      margin: 0;
      @include flexbox(row, null, null, 20px);
    }

    &__li {
      transition: color 300ms;
      &:hover {
        color: $soft-red;
      }
    }
  }
}

.footer__sm-icons {
  @include flexbox(null, flex-end, center, 20px);
  flex: 1 1 20%;
  
  > a {
    transition: color 310ms;
    &:hover {
      color: $soft-red;
    }
  }
}