@use '../abstracts/all' as *;
@use '../base/helpers' as *;

.faq {
  grid-area: faq;
  @extend %primary-title-subtitle;
}

.faq__accordion {
  width: 100%;
  max-width: 580px;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: left;
}