.header{
    padding-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navbar navbar navbar";
    place-items: center;
    
    .navbar{
        grid-area: navbar;
    }

}
