.header{
    padding: 2rem 0 4rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navbar navbar navbar";
    place-items: center;
    
    .navbar{
        grid-area: navbar;
    }

  .navbar {
    grid-area: navbar;
  }
}
